@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light: --default;
}
@plugin "daisyui/theme" {
  default: true;
  --color-primary: #03373D;
  --color-secondary: #606060;
}
.urbanist{
  font-family: "Urbanist", sans-serif;
  background-color: #EAECED;
}